In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

In [2]:
df_dropped_2=pd.read_csv("C:\\Users\\Administrator\\Desktop\\Khoaluan\\web\\united4.csv")

In [3]:
df_x = df_dropped_2.iloc[:, 1:9]
df_x

,Quan,TinhTrangBDS,DienTich,Phongngu,PhongTam,Loai,GiayTo,TinhTrangNoiThat
0,9,1,50.00,2.0,1.0,1,1,1
1,13,1,63.00,2.0,2.0,1,2,1
2,14,1,57.72,2.0,2.0,1,1,1
3,12,1,65.00,2.0,2.0,1,2,2
4,9,1,69.00,2.0,2.0,1,2,3
...,...,...,...,...,...,...,...,...
12898,8,1,68.00,2.0,2.0,1,2,3
12899,9,1,53.00,2.0,1.0,1,2,1
12900,16,1,76.00,2.0,1.0,1,1,3
12901,15,1,82.00,2.0,2.0,1,1,2
12902,6,2,60.00,2.0,1.0,1,2,3

In [4]:
df_y = df_dropped_2.iloc[:, 10]

df_y

0         62500.0
1         68750.0
2         72917.0
3         73333.0
4         46667.0
           ...
12898    102083.0
12899     87500.0
12900     64583.0
12901    110417.0
12902     79167.0
Name: USD, Length: 12903, dtype: float64

In [5]:
X, X_test, Y, Y_test = train_test_split(df_x,df_y, test_size = 0.2, random_state = 0)

In [6]:
random = RandomForestRegressor(max_depth=13, random_state=0)
random.fit(df_x,df_y)

RandomForestRegressor(max_depth=13, random_state=0)

In [7]:
Y_pre = random.predict(df_x)

In [8]:
perc = np.abs((Y_pre - df_y)/df_y)
perc = perc.values*100

In [9]:
np.array([Y_pre, df_y, perc])

array([[6.95029303e+04, 6.90394987e+04, 6.85014845e+04, ...,
        9.43930419e+04, 1.53085977e+05, 8.31092110e+04],
       [6.25000000e+04, 6.87500000e+04, 7.29170000e+04, ...,
        6.45830000e+04, 1.10417000e+05, 7.91670000e+04],
       [1.12046884e+01, 4.21089017e-01, 6.05553639e+00, ...,
        4.61577225e+01, 3.86434855e+01, 4.97961397e+00]])

In [11]:
data = {'Gia du doan':Y_pre,
        'Gia thuc':df_y,
       '% sai lech': perc}
A = pd.DataFrame(data)

In [12]:
B = A.sort_values(by=['% sai lech'])
B

         Gia du doan  Gia thuc    % sai lech
11954  516667.000000  516667.0  0.000000e+00
9067   516667.000000  516667.0  0.000000e+00
10842  516667.000000  516667.0  0.000000e+00
6364   516667.000000  516667.0  0.000000e+00
4077   516667.000000  516667.0  0.000000e+00
...              ...       ...           ...
6703    96292.221382      88.0  1.093230e+05
5716   176127.492007     146.0  1.205353e+05
6209   159911.278554     127.0  1.258144e+05
12776  113076.490883      88.0  1.283960e+05
11985  550060.653667      42.0  1.309568e+06

[12903 rows x 3 columns]

In [13]:
B['% sai lech'].describe()

count    1.290300e+04
mean     6.959635e+02
std      1.309917e+04
min      0.000000e+00
25%      2.394560e+00
50%      9.106420e+00
75%      2.142501e+01
max      1.309568e+06
Name: % sai lech, dtype: float64